on:
    workflow_call:

jobs:
    trufflehog:
        runs-on: ubuntu-latest
        defaults:
            run:
              shell: bash
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Scan secrets on push
          if: github.event_name == 'push'
          id: scanbranch
          uses: trufflesecurity/trufflehog@main
          continue-on-error: true
          with:
            path: ./
            base: ""
            head: ${{ github.ref_name }}
            extra_args: --debug --only-verified

        - name: Scan secrets on pull request
          if: github.event_name == 'pull_request'
          id: scansecrets
          uses: trufflesecurity/trufflehog@main
          continue-on-error: true
          with:
            path: ./
            base: "${{ github.event.repository.default_branch }}"
            head: ${{ github.ref_name }}
            extra_args: --debug --only-verified

        - name: Scan Results Status
          if: steps.scansecrets.outcome == 'failure' ||  steps.scanbranch.outcome == 'failure'
          run: exit 1
